MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

MAIL_USERNAME=seuemail
MAIL_PASSWORD=SUA_SENHA_DE_APP_DE_16_CARACTERES

MAIL_FROM=SEU_EMAIL@gmail.com

MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true
MAIL_STARTTLS_REQUIRED=true

APP_URL=http://localhost:8081

PASSWORD_RESET_EXPIRATION_MINUTES=30